<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b6f922cb1.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre - Crear Cuenta</title>
</head>
<body>
    <header class="headerTop">
        <!-- Logo -->
        <div class="main-header-top-bar">
            <div>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="header_top_img">
            </div>
            <!-- Barra Busqueda -->
            <form action="#" method="GET" class="searchBar">
                <input type="text" name="search_prod" placeholder="Buscar productos, marcas y más...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <!-- <div class="searchBar">
                <input type="search_bar">
                 <p style="text-align: center"> Lugar Para poner Barra de búsqueda   <i class="fa-solid fa-magnifying-glass"></i> </p> 
            </div>-->
            <!-- Compra en Cuotas -->
            <div class="cuerpoTextos"> 
                <h2> <i class="fa-solid fa-hand-holding-dollar"></i> Comprar en cuotas y sin tarjeta de Crédito</h2>
            </div>
        </div> 
        
        <nav class="main-header-bottom-bar"></nav>
        
        <!-- Menu Nav -->
        <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta</a>  <i class="fa-solid fa-id-card"></i></li> 
                    <li><a href="/login">Ingresá</a>  <i class="fa-solid fa-right-to-bracket"></i></li> 
                    <li><a href="#">Mis Compras</a>  <i class="fa-solid fa-basket-shopping"></i></li> 
                </ul>
        </nav>
        <br>
        <!-- Hamburguer Menu -->
        <a href="#" class="burger-menu">
           <i class="fas fa-bars"></i>
        </a>

        <br>
        <div class="imgBanner"> 
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
    </header>
    <main> 
        <br>
        <br>
        <section class="register">
            <h3>Registrate</h3>
        <form action="/" method="post" class="register_form">
            <label for="">Nombre y Apellido</label>
            <input type="text" name="nombreapellido" placeholder="Nombre y Apellido" minlength="10" required>
            <br>
            <br>
            <label for="">Nombre de Usuario</label>
            <input type="text" name="usuario" placeholder="usuario" required>
            <br>
            <br>
            <label for="">Fecha de Nacimiento</label>
            <input type="date" name="fecha_nac" id="" required> 
            <br>
            <br>
            <label for="">Domicilio</label>
            <input type="text" name="domicilio" placeholder="Domicilio" required>
            <br>
            <div class="profile">
                <h4><label for="">Perfil del Usuario</label></h4>
                <input type="radio" name="perfil" value="buyer" id="buyer" required>
                <label for="buy">Comprador</label>
                <input type="radio" name="perfil" value="seller" id="seller" required>
                <label for="sell">Vendedor</label>
            </div>
            
            <h4><label for="">Categorías de Interés</label></h4>
            <div class="categorias">
                <div>
                    <label for="Electro">Electro</label>
                    <input type="checkbox" name="Electro" id="Electro">
                </div>
                <div>
                    <label for="Moda">Moda</label>
                    <input type="checkbox" name="Moda" id="Moda">
                </div>
                <div>
                    <label for="Hogar">Moda</label>
                    <input type="checkbox" name="Hogar" id="Hogar">
                </div>
                <div>
                    <label for="Jugueteria">Juguetería</label>
                    <input type="checkbox" name="Jugueteria" id="Jugueteria">
                </div>
                <div>
                    <label for="vsana">Vida sana</label>
                    <input type="checkbox" name="vsana" id="vsana">
                </div>
            </div>
            <h4>Foto de Usuario</h4>
            <input type="file">
            <br>
            <br>
            <div>
                <label for="pwd_reg">Contraseña</label>
                <input type="password" name="pwd_reg" id="pwd_reg" minlength="8" required> 
            </div>
            <br>
            <div>
                <label for="pwdrepeat">Repita su Contraseña</label>
                <input type="password" name="pwdrepeat" id="pwdrepeat" required> 
            </div>
            <br>
            <br>
            <input type="submit" value="Enviar" name="submit_reg">
            <input type="reset" value="Borrar" name="reset_reg">
        </form>
        </section>
    </main>
    <br>
    <footer class="footer">
        <br>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con Tarjeta o en Efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío Gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de Principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <section>
            <h4 class="copy">Copyright© 1999 - 2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>